
// Código de Nav acá

nav {
    padding: 15px;
    display: flex;
    flex-direction: column;
    ul{
        display: flex;
        flex-direction: row;

    }
    li {
        margin: 5px;
    }

}
