body {
  /*background-color: rgb(232, 246, 255);*/
  background-color: rgb(213, 215, 239);
  /*borderfont-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family:'Poppins', sans-serif;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#createdBy {
  font-size: 56px;
  color: #343434;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #454974;
  /*background: #428fbb;*/
  height: 56px;
  /* padding-left: 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header span {
  font-size: 24px;
  color: white;
  padding-right: 15px;
}

#header a {
  padding-left: 15px;
}

a img {
 max-width: 3em;
 
}


#container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #454974;
  /*background-color: #428fbb;*/
  box-shadow: 1px 20px 150px#000;
  /*width: 1em;*/
  /*min-width: 900px;*/
  border-radius: 5px;
}

#inputContainer {
  display: flex;
  
  justify-content: center;
  /*padding: 1em;*/
  /*margin-bottom: 25px;*/
  padding: 1em;
}

#toDoInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*outline: none;*/
  /*width: 100%;*/
  /*padding-left: 10px;*/
  font-size: 2em;
  border: none;
  border-radius: 0.25em;
}

#addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  background: none;
  color: #FFF;
  font-size: 20px;
}

#toDoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.toDoShell {
  width: 650px;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
}

.toDoShell span {
  width: 90%;
}
.completeText {
  color: lightgrey;
  text-decoration: line-through;
}

.completeCheckbox {
  transform: scale(1.8);
}
