body {
  /*background-color: rgb(232, 246, 255);*/
  background-color: rgb(213, 215, 239);
  /*borderfont-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family:'Poppins', sans-serif;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#createdBy {
  font-size: 2em;
  color: #343434;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #5a5d77;
  /*background: #428fbb;*/
  height: 56px;
  /* padding-left: 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header span {
  font-size: 24px;
  color: white;
  padding-right: 15px;
}

#header a {
  padding-left: 15px;
}

a img {
 max-width: 3em;
 
}


#container {
  padding: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5a5d77;
  /*background-color: #428fbb;*/
  box-shadow: 1px 20px 150px#000;
  /*width: 1em;*/
  /*min-width: 900px;*/
  border-radius: 5px;
}

#inputContainer {

  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  
  position: relative;
  align-items: space-between;
  margin: 1em;
  /*margin-bottom: 25px;*/
  /*padding: 0.9em;*/
}

#toDoInput {
  display: flex;
  /*flex-direction: column;*/
  justify-content: center center;
  /*outline: none;*/
  /*width: 100%;*/
  /*padding: 0.5em;*/
  font-size: 1em;
  border: none;
  border-radius: 0.25em;
}

#addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  background: none;
  color: #FFF;
  font-size: 20px;
}

#toDoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.toDoShell {
  /*width: 650px;*/
  min-height: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff ;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
  padding:0.25em;
}

.toDoShell span {

  padding: 0.15em;
  width: 100%;
}
.completeText {
  color: lightgrey;
  text-decoration: line-through;
}

.completeCheckbox {
  padding-right: 50%;
  transform: scale(1.0);
}

.delete-icon {
  padding-right: 0.50em;
  margin-right: 0;
  color: rgb(64, 64, 64);
  cursor: pointer;
}
.delete-icon:hover {
  color:rgb(218, 77, 77)
}

.edit-icon {
  margin: 0;
  color: rgb(64, 64, 64);
  cursor: pointer;
}
.edit-icon:hover {
  color:rgb(125, 125, 207);
}

#footer {
  background-color: #5a5d77;
  color:darkgray;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;

}
